#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=database
MYSQL_USER=demo
MYSQL_PASSWORD=demo

HOSTNAME=webserver.local
PORT=80
