#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#

## MYSQL ##

# Root password for mysql
MYSQL_ROOT_PASSWORD=root

# Name of the database
MYSQL_DATABASE=database

# Username for mysql
MYSQL_USER=demo

# Password for the mysql user
MYSQL_PASSWORD=demo

# The hostname of mysql server
MYSQL_HOST=database

# The hostname of the webserver
HTTPD_HOSTNAME=webserver.local

# The port the webserver is listen to
HTTPD_PORT=80

# The document root auf the webserver
HTTPD_DOCUMENT_ROOT=/var/www/html

# The branch from wich the project will be cloned
GIT_BRANCH=master
